<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="PowerShell Serilog Module"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Joseph L. Casale"
           UpgradeCode="1be534ed-bed0-4704-baee-78052afff1a5">
    <SummaryInformation Description="A PowerShell module for logging based on the Serilog library." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Product"
             Description="PowerShell Serilog Module"
             Title="PSSerilog"
             AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
      <!-- Remove LicenseAgreementDlg. -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2" />
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
        <Directory Id="Modules" Name="Modules">
          <Directory Id="PSSerilog" Name="PSSerilog">
            <Directory Id="INSTALLDIR" Name="$(var.ProductVersion)" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>